.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #DEB3F5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CAF5B3;
  padding: 10px;
  color: #4aa2f2;
}

.posts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1a5099;
}

.App-posts {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.posts-title {
  font-size: 1.5em;
  text-align: center;
}

.post-intro {
  text-align: justify;
}

.post-author {
  color: grey;
}

.create-post {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #E8F9FC;
}

.create-post-title {
  display: flex;
  justify-content: flex-start;
  margin: 1em;
}

.create-post-title input {
  margin-left: 1em;
  width: 70%;
}

.create-post-body {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.create-post-body textarea {
  height: 15em;
  margin: 1em;
}

.create-post-body button {
  height: 2em;
  margin: 1em;
}

