.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #F1E0FB;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  padding: 10px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CAF5B3;
  padding: 10px;
  color: #4aa2f2;
  font-family: Audiowide;
}

.App-header h1 {
  font-size: 1.5em;
}

.App-categories{
  background-color: #CAF5B3;
  color: #4aa2f2;
  font-family: Audiowide;
}

.App-posts {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #4aa2f2;
    margin: 1em 0;
    padding: 0;
}

.posts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1a5099;
  font-family: Audiowide;
}

.post-intro {
  text-align: justify;
}

.post-metadata {
  color: grey;
}

.create-post {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #E8F9FC;
}

.create-post-title {
  text-align: center;
  color: #1a5099;
}

.create-post-input {
  display: flex;
  justify-content: flex-start;
  margin: 1em;
}

.create-post-input input {
  margin-left: 1em;
  width: 70%;
}
.create-post-input select {
  margin-left: 1em;
}

.create-post-body {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.create-post-body textarea {
  height: 15em;
  margin: 1em;
}

.create-post-body button {
  height: 2em;
  margin: 1em;
}

